//@theme "/usr/share/rofi/themes/nigochanel.rasi"
//@theme "/usr/share/rofi/themes/slate.rasi"
//@theme "/usr/share/rofi/themes/shadow-sidebar.rasi"
//@theme "/usr/share/rofi/themes/slate.rasi"
//@theme "/usr/share/rofi/themes/slate-bordered.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
